@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
#00171F
#003459
#007EA7
#00A8E8
*/

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  background-color: #00171f;
  position: sticky;
  top: 0;
  z-index: 10000;
  animation: navbar-animation linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 150px;
}
@keyframes navbar-animation {
  to {
    background-color: #00171fec;
  }
}
.portada {
  background-image: url("/portada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 400px;
}
@media (max-width: 640px) {
  .portada {
    height: 400px;
  }
}
.buttonperso {
  transition: 500ms;
}
.buttonperso:hover {
  background-color: #0084b8;
  padding-left: 3rem;
  padding-right: 3rem;
}
.aboutme {
  transition: 200ms;
}
.aboutme::before {
  content: "";
  position: absolute;
  z-index: 5;
  margin-top: -20px;
  margin-left: -30px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid #002e3d;
}

.reveal {
  animation: animation-reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@keyframes animation-reveal {
  from {
    opacity: 0;
    translate: 0 100px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

.imageperso {
  background-image: url("../assets/images/certificados/xAcademy.webp");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.texts-study {
  color: transparent;
}
.content-description {
  display: none;
}
.image-container:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #020f25 0%, transparent 60%);
  border-radius: 13px;
}
.image-container:hover {
  .content-description {
    display: block;
    color: #fff;
  }
}
.imageStudy {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.buttons {
  transition: 300ms;
  border-width: 1px;
  border-color: #002e3d;
  color: #fff;
}
.buttons:hover {
  background-color: #0084b8;
  padding-left: 2rem;
  padding-right: 2rem;
}
